.forecastDiv {
    background-color: deepskyblue;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    width: 20%;
    display: inline-block;
    padding-left: 7px;
}

#cityInput {
    width: 30%;
}

#forecastHolder {
    margin-top: 20px;
}

.footer {
    padding: 30px;
    clear: both;
    color: darkgrey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

p {
    font-size: large;
}

p.thick {
    font-weight: 350;
}